include src/warnet/schema/*.json
include src/warnet/templates/bitcoin.conf
include src/warnet/templates/fork_observer_config.toml
include src/warnet/templates/addrman_observer_config.toml
include src/warnet/templates/addrman.patch
include src/warnet/templates/isroutable.patch
include src/warnet/scripts/quick_start.sh
graft src/warnet/templates/k8s
graft src/warnet/templates/rpc
graft src/warnet/templates/grafana-provisioning
graft src/warnet/logging_config
