include src/schema/*.json
include src/templates/bitcoin.conf
include src/templates/fork_observer_config.toml
include src/templates/addrman_observer_config.toml
include src/templates/addrman.patch
include src/templates/isroutable.patch
graft src/templates/k8s
graft src/templates/rpc
graft src/templates/grafana-provisioning
