required-version = "==0.6.8"
extend-exclude = [
    "resources/scenarios/test_framework",
    "resources/images/exporter/authproxy.py",
    "resources/scenarios/signet_miner.py",
    "src/test_framework/*",
]
line-length = 100
indent-width = 4

[lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
]
ignore = ["E501"] # Line too long
