.wrapper {
    background: linear-gradient(292deg, rgba(255, 2, 169, 0.25) 0.78%, rgba(255, 2, 169, 0) 54.34%), #000;
    grid-template-columns: 1fr 1.4fr;
}

.gradientRectangle {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    right: -100px;
}

.gradientRectangle1 {
    bottom: -200px;
    right: -200px;
}
