apiVersion: v1
kind: Pod
metadata:
  name: {{ include "bitcoincore.fullname" . }}
  labels:
    {{- include "bitcoincore.labels" . | nindent 4 }}
    {{- with .Values.podLabels }}
        {{- toYaml . | nindent 4 }}
    {{- end }}
    chain: {{ .Values.chain }}
    RPCPort: "{{ index .Values .Values.chain "RPCPort" }}"
    rpcpassword: {{ .Values.rpcpassword }}
    app: {{ include "bitcoincore.fullname" . }}
    {{- if .Values.collectLogs }}
    collect_logs: "true"
    {{- end }}
  annotations:
    init_peers: "{{ .Values.addnode | len }}"
spec:
  restartPolicy: "{{ .Values.restartPolicy }}"
  {{- with .Values.imagePullSecrets }}
  imagePullSecrets:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  securityContext:
    {{- toYaml .Values.podSecurityContext | nindent 4 }}
  {{- if .Values.loadSnapshot.enabled }}
  initContainers:
    - name: download-blocks
      image: alpine:latest
      command: ["/bin/sh", "-c"]
      args:
        - |
          apk add --no-cache curl
          mkdir -p /root/.bitcoin/{{ .Values.chain }}
          curl -L {{ .Values.loadSnapshot.url }} | tar -xz -C /root/.bitcoin/{{ .Values.chain }}
      volumeMounts:
        - name: data
          mountPath: /root/.bitcoin
  {{- end }}
  containers:
    - name: {{ .Chart.Name }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
      imagePullPolicy: {{ .Values.image.pullPolicy }}
      ports:
        - name: rpc
          containerPort: {{ index .Values .Values.chain "RPCPort" }}
          protocol: TCP
        - name: p2p
          containerPort: {{ index .Values .Values.chain "P2PPort" }}
          protocol: TCP
        - name: zmq-tx
          containerPort: {{ .Values.ZMQTxPort }}
          protocol: TCP
        - name: zmq-block
          containerPort: {{ .Values.ZMQBlockPort }}
          protocol: TCP
      livenessProbe:
        {{- toYaml .Values.livenessProbe | nindent 8 }}
      readinessProbe:
        {{- toYaml .Values.readinessProbe | nindent 8 }}
        tcpSocket:
          port: {{ index .Values .Values.chain "RPCPort" }}
      resources:
        {{- toYaml .Values.resources | nindent 8 }}
      volumeMounts:
        {{- with .Values.volumeMounts }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        - mountPath: /root/.bitcoin
          name: data
        - mountPath: /root/.bitcoin/bitcoin.conf
          name: config
          subPath: bitcoin.conf
    {{- if .Values.metricsExport }}
    - name: prometheus
      image: bitcoindevproject/bitcoin-exporter:latest
      imagePullPolicy: IfNotPresent
      ports:
        - name: prom-metrics
          containerPort: {{ .Values.prometheusMetricsPort }}
          protocol: TCP
      env:
        - name: BITCOIN_RPC_HOST
          value: "127.0.0.1"
        - name: BITCOIN_RPC_PORT
          value: "{{ index .Values .Values.chain "RPCPort" }}"
        - name: BITCOIN_RPC_USER
          value: user
        - name: BITCOIN_RPC_PASSWORD
          value: {{ .Values.rpcpassword }}
        {{- if .Values.metrics }}
        - name: METRICS
          value: {{ .Values.metrics }}
        {{- end }}
    {{- end}}
  volumes:
    {{- with .Values.volumes }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
    - name: data
      emptyDir: {}
    - name: config
      configMap:
        name: {{ include "bitcoincore.fullname" . }}
  {{- with .Values.nodeSelector }}
  nodeSelector:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.affinity }}
  affinity:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.tolerations }}
  tolerations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
