apiVersion: v1
kind: Service
metadata:
  name: {{ include "bitcoincore.fullname" . }}
  labels:
    {{- include "bitcoincore.labels" . | nindent 4 }}
    app: {{ include "bitcoincore.fullname" . }} 
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ index .Values .Values.chain "RPCPort" }}
      targetPort: rpc
      protocol: TCP
      name: rpc
    - port: {{ index .Values .Values.chain "P2PPort" }}
      targetPort: p2p
      protocol: TCP
      name: p2p
    - port: {{ .Values.ZMQTxPort }}
      targetPort: zmq-tx
      protocol: TCP
      name: zmq-tx
    - port: {{ .Values.ZMQBlockPort }}
      targetPort: zmq-block
      protocol: TCP
      name: zmq-block
    - port: {{ .Values.prometheusMetricsPort }}
      targetPort: prom-metrics
      protocol: TCP
      name: prometheus-metrics
  selector:
    {{- include "bitcoincore.selectorLabels" . | nindent 4 }}
