# Default values for bitcoincore.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
namespace: warnet

restartPolicy: Never

image:
  repository: bitcoindevproject/bitcoin
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "27.0"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podLabels: 
  app: "warnet"
  mission: "tank"

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP

regtest:
  RPCPort: 18443
  P2PPort: 18444
  ZMQTxPort: 28333
  ZMQBlockPort: 28332

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi


livenessProbe:
  exec:
    command:
    - pidof
    - bitcoind
  failureThreshold: 3
  initialDelaySeconds: 5
  periodSeconds: 5
  successThreshold: 1
  timeoutSeconds: 1
readinessProbe:
  failureThreshold: 1
  periodSeconds: 1
  successThreshold: 1
  tcpSocket:
    port: 18443
  timeoutSeconds: 1


# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}

chain: regtest

collectLogs: false
metricsExport: false
prometheusMetricsPort: 9332

regtestConfig: |
  rpcuser=user
  rpcpassword=password
  rpcport=18443
  rpcallowip=0.0.0.0/0
  rpcbind=0.0.0.0

baseConfig: |
  checkmempool=0
  acceptnonstdtxn=1
  debuglogfile=0
  logips=1
  logtimemicros=1
  capturemessages=1
  fallbackfee=0.00001000
  listen=1

  zmqpubrawblock=tcp://0.0.0.0:28332
  zmqpubrawtx=tcp://0.0.0.0:28333

config: ""

connect: []