apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "eclair.fullname" . }}
  labels:
    {{- include "eclair.labels" . | nindent 4 }}
data:
  config: |
    {{- .Values.baseConfig | nindent 4 }}
    {{- .Values.defaultConfig | nindent 4 }}
    {{- .Values.config | nindent 4 }}
    eclair.chain={{ .Values.global.chain }}
    eclair.bitcoind.host={{ include "bitcoincore.fullname" . }}
    eclair.bitcoind.rpcport={{ index .Values.global .Values.global.chain "RPCPort" }}
    eclair.bitcoind.rpcpassword={{ .Values.global.rpcpassword }}
    eclair.node-alias={{ include "eclair.fullname" . }}
    eclair.bitcoind.zmqblock=tcp://{{ include "bitcoincore.fullname" . }}:{{ .Values.global.ZMQBlockPort }}
    eclair.bitcoind.zmqtx=tcp://{{ include "bitcoincore.fullname" . }}:{{ .Values.global.ZMQTxPort }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "eclair.fullname" . }}-channels
  labels:
    channels: "true"
    {{- include "eclair.labels" . | nindent 4 }}
data:
  source: {{ include "eclair.fullname" . }}
  channels: |
    {{ .Values.channels | toJson }}
