apiVersion: v1
kind: Pod
metadata:
  name: {{ include "eclair.fullname" . }}
  labels:
    {{- include "eclair.labels" . | nindent 4 }}
    {{- with .Values.podLabels }}
        {{- toYaml . | nindent 4 }}
    {{- end }}
    app: {{ include "eclair.fullname" . }}
    {{- if .Values.collectLogs }}
    collect_logs: "true"
    {{- end }}
    chain: {{ .Values.global.chain }}
  annotations:
    kubectl.kubernetes.io/default-container: "eclair"
spec:
  {{- with .Values.imagePullSecrets }}
  imagePullSecrets:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  securityContext:
    {{- toYaml .Values.podSecurityContext | nindent 4 }}
  containers:
    - name: {{ .Chart.Name }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 12 }}
      image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
      imagePullPolicy: {{ .Values.image.pullPolicy }}
      ports:
        - name: server
          containerPort: {{ .Values.ServerPort }}
          protocol: TCP
        - name: rest
          containerPort: {{ .Values.RestPort }}
          protocol: TCP
      livenessProbe:
        {{- toYaml .Values.livenessProbe | nindent 12 }}
      readinessProbe:
        {{- toYaml .Values.readinessProbe | nindent 12 }}
      resources:
        {{- toYaml .Values.resources | nindent 12 }}
      volumeMounts:
        {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
        {{- end }}
        - mountPath: /home/eclair/.eclair/eclair.conf
          name: config
          subPath: eclair.confg
  volumes:
    {{- with .Values.volumes }}
      {{- toYaml . | nindent 8 }}
    {{- end }}
    - configMap:
        name: {{ include "eclair.fullname" . }}
      name: config
  {{- with .Values.nodeSelector }}
  nodeSelector:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  {{- with .Values.affinity }}
  affinity:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  {{- with .Values.tolerations }}
  tolerations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
