{{- if .Values.metricsExport }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "lnd.fullname" . }}
  labels:
    app.kubernetes.io/name: lnd-metrics
    release: prometheus
spec:
  endpoints:
    - port: prometheus-metrics
      interval: {{ .Values.metricsScrapeInterval | default "15s" }}
  selector:
    matchLabels:
      app: {{ include "lnd.fullname" . }}
{{- end }}