name: Ruff
on: [push, pull_request]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: lint
        uses: chartboost/ruff-action@v1
        with:
          args: check --output-format=github .
      - name: format
        uses: chartboost/ruff-action@v1
        with:
          args: format .
