name: test

on:
  pull_request:
  push:
    branches:
      - main

env:
  PYTHON_VERSION: "3.12"
  STERN_VERSION: "1.30.0"

jobs:

  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install a specific version of uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "0.4.4"
          enable-cache: true
      - run: uvx ruff@0.6.8 check .

  ruff-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install a specific version of uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "0.4.4"
          enable-cache: true
      - run: uvx ruff@0.6.8 format . --check

  test:
    needs: [ruff, ruff-format]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test:
          - conf_test.py
          - dag_connection_test.py
          - graph_test.py
          - logging_test.py
          - rpc_test.py
          - services_test.py
          - signet_test.py
          - scenarios_test.py
          - namespace_admin_test.py
    steps:
      - uses: actions/checkout@v4
      - uses: azure/setup-helm@v4.2.0
      - name: start minikube
        uses: medyagh/setup-minikube@latest
        id: minikube
        with:
          cpus: max
          memory: 4000m
      - name: Start minikube's loadbalancer tunnel
        run: minikube tunnel &> /dev/null &
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v2
        with:
          version: "latest"
          enable-cache: true
      - name: Install Python
        run: uv python install $PYTHON_VERSION
      - name: Install project
        run: uv sync --all-extras --dev
      - name: Run tests
        run: |
          source .venv/bin/activate
          ./test/${{matrix.test}}
      - name: Collect Kubernetes logs
        if: always()
        run: |
          echo "Installing stern..."
          curl -Lo stern.tar.gz https://github.com/stern/stern/releases/download/v${STERN_VERSION}/stern_${STERN_VERSION}_linux_amd64.tar.gz
          tar zxvf stern.tar.gz
          chmod +x stern
          sudo mv stern /usr/local/bin/

          # Run script
          curl -O https://raw.githubusercontent.com/bitcoin-dev-project/warnet/main/resources/scripts/k8s-log-collector.sh
          chmod +x k8s-log-collector.sh
          ./k8s-log-collector.sh default
      - name: Upload log artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: kubernetes-logs-${{ matrix.test }}
          path: ./k8s-logs
          retention-days: 5
